.container-fluid,
.row {
    height: 200px !important;
}

.playerboard {
    width: 100%;
    height: 200px;
    background: rgb(119, 177, 211);
    margin-top: 10px;
    padding: 3%;
}

.playerboard img {
    display: block;
    width: 100%;
    float: left;
}

h1 {
    font-size: 1.8em;
}

.padding-0 {
    padding: 0 !important;
}

.padding-l-15 {
    padding-left: 15px !important;
}

.lifebar {
    width: 130px;
    height: 10%;
    background: red;
}