.container-fluid {
    width: 100vw;
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
}

.rowimg {
    height: 500px;
}

.rowstat-2 {
    text-align: right;
}

.playerboard {
    width: 100%;
    /*  background: rgb(119, 177, 211); */
    margin-top: 10px;
    padding: 3%;
    height: 100vh !important;
}

.playerboard img {
    display: block;
    width: 100%;
}

h1 {
    font-size: 1.3em;
    color: white;
}

p {
    color: white;
}

.progress-bar {
    background: #FF9C3C;
}