<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="playerboard">
                <div class="row">
                    <div class="col-6">
                        <img src="https://raw.githubusercontent.com/akabab/superhero-api/0.2.0/api/images/sm/731-zoom.jpg" alt="">
                    </div>
                    <div class="col-6 padding-0">
                        <h1>Name</h1>
                        <p>Durability</p>
                        <p>Power</p>
                        <p>Combat</p>
                        <div class="progress">
                            <div class="progress-bar" [ngStyle]="{'width': capacity}">{{capacity}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="offset-6 col-3">
            <div class="playerboard">
                <div class="row">
                    <div class="col-6 padding-0 padding-l-15">
                        <h1>Name</h1>
                        <p>Durability</p>
                        <p>Power</p>
                        <p>Combat</p>
                        <div class="progress">
                            <div class="progress-bar" [ngStyle]="{'width': capacity}">{{capacity}}</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <img src="https://raw.githubusercontent.com/akabab/superhero-api/0.2.0/api/images/sm/731-zoom.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>