<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="playerboard">
                <div class="row">
                    <div class="col-6">
                        <img src="{{select.players[0].images.md}}" alt="">
                    </div>
                    <div class="col-6 padding-0">
                        <h1>Name : {{ select.players[0].name }}</h1>
                        <p>Durability : {{ select.players[0].powerstats.durability }}
                        </p>
                        <p>Power : {{ select.players[0].powerstats.power }}</p>
                        <p>Combat : {{ select.players[0].powerstats.combat }}</p>
                        <div class="progress">
                            <div class="progress-bar" [ngStyle]="{'width': capacity1Player}">{{capacity1Player}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="offset-6 col-3">
            <div class="playerboard">
                <div class="row">
                    <div class="col-6 padding-0 padding-l-15">
                        <h1>Name : {{ select.players[1].name }}</h1>
                        <p>Durability : {{ select.players[1].powerstats.durability }}</p>
                        <p>Power : {{ select.players[1].powerstats.power }}</p>
                        <p>Combat : {{ select.players[1].powerstats.combat }}</p>
                        <div class="progress">
                            <div class="progress-bar" [ngStyle]="{'width': capacity2Player}">{{capacity2Player}}</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <img src="{{select.players[1].images.md}}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>