<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
            <h1 class="text-center">
                Choose your 2 characters :
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
            <div class="row">
                <div class="col-xs-1 col-md-2 grid cs-style-3" *ngFor="let hero of heroes ; let i = index" [id]="'heroCard' + i">
                    <!-- <figure [ngClass]="{'selected': this.select.players[this.nbrPlayer].selected}"> -->
                    <figure (click)=" chooseplayer(i) ">
                        <img class="img-fluid " src="{{hero.images.sm}} " alt="{{hero.name}} ">
                        <figcaption>
                            <h3>{{hero.name}}</h3>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
<p class="text-center ">
    crédit : Pichot Arnaud - Lanchon Ludovic (Wild Code School)
</p>