:host,
.memoryboard {
    width: 100%;
    height: 100%;
    background:
}

.container-fluid:before {
    height: 100vh;
    width: 100vw;
    margin: 0 !important;
    padding: 0 !important;
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url(https://theultralinx.com/.image/c_limit%2Ccs_srgb%2Cq_80%2Cw_800/MTI5MDI0MjczNjc4NTA1MjM0/do2wa2j.webp);
    background-size: 200%;
    background-position: center;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.container-fluid {
    position: fixed;
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    background: url(https://theultralinx.com/.image/c_limit%2Ccs_srgb%2Cq_80%2Cw_800/MTI5MDI0MjczNjc4NTA1MjM0/do2wa2j.webp);
    background-size: 200%;
    background-position: center;
    z-index: 0;
}

.row {
    height: 100vh !important;
}